backend/.env
backend/db.sqlite3
backend/staticfiles/
backend/media/
backend/venv/
backend/.pytest_cache/
backend/htmlcov/
backend/.coverage
backend/*.log

**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/*.egg-info/

mobile/.dart_tool/
mobile/.packages
mobile/build/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies

.DS_Store
